<style>
  pre {
    font-family: Arial, sans-serif;
  }
</style>
<h4>
  ID Hình ảnh
  <button class="btn btn-outline-primary btn-sm d-inline-block">
    <%= currentImage.id %>
  </button>
</h4>

<div class="shadow-5-strong rounded-5 overflow-hidden">
  <table class="table align-middle mb-0 bg-white table-hover">
    <thead class="bg-light">
      <th>Hình ảnh</th>
      <th>Kết qủa chuyển đổi</th>
    </thead>
    <tbody>
      <td class="col-5">
        <img
          src="<%= currentImage.filepath %>"
          alt=""
          srcset=""
          class="img-fluid"
        />
      </td>
      <td class="col-5">
        <div><pre><%= currentImage.content %></pre></div>
      </td>
    </tbody>
  </table>
</div>
<div class="d-flex align-items-center justify-content-center my-3">
  <a href="/" class="btn btn-primary text-center">Quay về trang chủ</a>
</div>
