LANDMARK_YOLOV8_PATH=./app/gvision/weights/S20272320/yolov8_landmark_sticker_v1.pt
LANDMARK_YOLOV8_IMAGE_SIZE=640
LANDMARK_YOLOV8_IOU_THRES=0.5
LANDMARK_YOLOV8_CONF_THRES=0.75

PADDLEOCR_DETECTION_MODEL_DIR=./app/gvision/weights/common_model/paddleocr_model/en_PP-OCRv3_det_infer
PADDLEOCR_CLS_MODEL_DIR=./app/gvision/weights/common_model/paddleocr_model/ch_ppocr_mobile_v2.0_cls_infer
PADDLEOCR_REC_MODEL_DIR=./app/gvision/weights/common_model/paddleocr_model/en_PP-OCRv3_rec_infer

DEVICE_GPU=-1
